* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    background: linear-gradient(#3e3e42, #cac8c8 50%, #cac8c8 60%, #3e3e42);
}

header,
footer {
    height: 100%;
    color: #FFFFFF;
    padding: 0px 20px;
}

header {
    height: 100px;
    display: grid;
    color: #ffffff;
    place-content: left;
    gap: 10px;
    padding-top: 41px;
    padding-left: 75px;
    grid-template-columns: repeat(2, 50px) 100px 1fr;
}

header span {
    font-weight: 600;
}

main {
    display: grid;
    place-content: center;
}

.background-logo {
    position: absolute;
    width: 100%;
    max-height: 100%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 15%;
}

.content-text {
    position: absolute;
    color: #5c5c5c;
    font-size: 2.5rem;
    width: 240px;
    transform: translateX(-100%);
    text-align: end;
    left: 45%;
    top: 44%;
}

.content-image {
    height: 85vh;
}

footer {
    height: 100px;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(3, 1fr);
    padding-right: 75px;
    padding-left: 75px;
    color: #FFFFFF;
    font-weight: 100;
}

footer span {
    display: inherit;
    place-content: center;
}

footer img {
    display: grid;
    margin-left: 92%;
}

footer div {
    width: 64px;
}

@media (max-width: 768px) {
    header {
        padding-left: 25px;
    }
    .content-text {
        transform: translateX(0%);
        top: 80px;
        font-size: 1rem;
        width: 100px;
        text-align: center;
    }
    .content-image {
        height: 70vh;
    }
    footer {
        padding: 0px 25pxs;
    }
}